body {
    font-family: 'Verdana', serif;
    background-color: #333;
    color: #eee;
}

a {
    color: cornflowerblue;
}

table {
    margin: 1em;
}

tr:nth-child(even) {
    background-color: #444;
}

td {
    min-width: 12rem;
    padding: .5em;
}